
body, h1, h2, p {
    margin: 20;
    padding: 12;
}


body {
    
    background-image: url('p.jpeg');
   

    font-family: 'Times New Roman','arial' ;
    background-color: #bd77b2;
}


header {
    background-color: #0b014ad0;
    color: #891212a9;
    padding: 1rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    text-decoration:rgb(230, 146, 146);
    color: #d19696f3;
}

section {
    padding: 2rem;
    background-color: #dbd99ff3;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(190, 225, 13, 0.788);
}



@media screen and (max-width: 768px) {
   
}
